<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />

    <title>Document</title>
</head>

<body>
    <header>
        <div class="overlay"></div>
        <nav>
            <h2>SHOPPING</h2>
            <ul>
                <li><a href="/">Principal</a></li>
                <li><a href="#">Acerca de</a></li>
                <li class="carrito">
                    <a href="/carrito">
                        <ion-icon name="basket"></ion-icon>Carrito<span>0</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <!--
        <div class="imagen">
            <img src="/images/camisetagris.jpg" alt="camiseta gris" />
            <h3>Camiseta gris</h3>
            <h3>$15,00</h3>
            <a class="agregar-carrito carro1" href="#">Agregar al carrito</a>
            <input type="hidden" value="15" />
        </div>
        <div class="imagen">
            <img src="/images/cangurogris.jpg" alt="canguro gris" />
            <h3>Canguro Gris</h3>
            <h3>$20,00</h3>
            <a class="agregar-carrito carro2" href="#">Agregar al carrito</a>
        </div>
        <div class="imagen">
            <img src="/images/camisetanegra.jpg" alt="camiseta negra" />
            <h3>Camiseta negra</h3>
            <h3>$10,00</h3>
            <a class="agregar-carrito carro3" href="#">Agregar al carrito</a>
        </div>
        <div class="imagen">
            <img src="/images/canguronegro.jpg" alt="canguro negro" />
            <h3>Negra Canguro</h3>
            <h3>$25,00</h3>
            <a class="agregar-carrito carro4" href="#">Agregar al carrito</a>
        </div>
        -->
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
        integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="/app.js"></script>
</body>

</html>